<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linzx.admin.system.mapper.ConfigMapper">

    <select id="selectList" parameterType="com.linzx.admin.system.domain.Config"
            resultType="com.linzx.admin.system.domain.Config">
        <include refid="selectVo"/>
        <include refid="selectList_where"/>
		<if test="params.orderBy != null and params.orderBy != ''">
            ORDER BY ${params.orderBy}
        </if>
    </select>

    <select id="getById" parameterType="java.lang.Long" resultType="com.linzx.admin.system.domain.Config">
        <include refid="selectVo"/>
        where config_id = #{configId}
    </select>

    <select id="selectByIds" parameterType="java.lang.Long" resultType="com.linzx.admin.system.domain.Config">
        <include refid="selectVo"/>
        where config_id in
        <foreach item="configId" collection="array" open="(" separator="," close=")">
            #{configId}
        </foreach>
    </select>

    <insert id="insert" parameterType="com.linzx.admin.system.domain.Config">
        insert into sys_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="configId != null">config_id,</if>
            <if test="configName != null">config_name,</if>
            <if test="configKey != null">config_key,</if>
            <if test="configValue != null">config_value,</if>
            <if test="configType != null">config_type,</if>
            <if test="status != null">status,</if>
            <if test="reversion != null">reversion,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="configId != null">#{configId},</if>
            <if test="configName != null">#{configName},</if>
            <if test="configKey != null">#{configKey},</if>
            <if test="configValue != null">#{configValue},</if>
            <if test="configType != null">#{configType},</if>
            <if test="status != null">#{status},</if>
            <if test="reversion != null">#{reversion},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>
	
	<insert id="insertBatch" parameterType="com.linzx.admin.system.domain.Config">
        insert into sys_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="list[0].configId != null">config_id,</if>
            <if test="list[0].configName != null">config_name,</if>
            <if test="list[0].configKey != null">config_key,</if>
            <if test="list[0].configValue != null">config_value,</if>
            <if test="list[0].configType != null">config_type,</if>
            <if test="list[0].status != null">status,</if>
            <if test="list[0].reversion != null">reversion,</if>
            <if test="list[0].createBy != null">create_by,</if>
            <if test="list[0].createTime != null">create_time,</if>
            <if test="list[0].updateBy != null">update_by,</if>
            <if test="list[0].updateTime != null">update_time,</if>
            <if test="list[0].remark != null">remark,</if>
        </trim>
		<foreach item="config" collection="list" open="values" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="list[0].configId != null">#{config.configId},</if>
            <if test="list[0].configName != null">#{config.configName},</if>
            <if test="list[0].configKey != null">#{config.configKey},</if>
            <if test="list[0].configValue != null">#{config.configValue},</if>
            <if test="list[0].configType != null">#{config.configType},</if>
            <if test="list[0].status != null">#{config.status},</if>
            <if test="list[0].reversion != null">#{config.reversion},</if>
            <if test="list[0].createBy != null">#{config.createBy},</if>
            <if test="list[0].createTime != null">#{config.createTime},</if>
            <if test="list[0].updateBy != null">#{config.updateBy},</if>
            <if test="list[0].updateTime != null">#{config.updateTime},</if>
            <if test="list[0].remark != null">#{config.remark},</if>
            </trim>
        </foreach>
    </insert>

    <update id="update" parameterType="com.linzx.admin.system.domain.Config">
        update sys_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="configId != null">config_id = #{configId},</if>
            <if test="configName != null">config_name = #{configName},</if>
            <if test="configKey != null">config_key = #{configKey},</if>
            <if test="configValue != null">config_value = #{configValue},</if>
            <if test="configType != null">config_type = #{configType},</if>
            <if test="status != null">status = #{status},</if>
            <if test="reversion != null">reversion = #{reversion},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where config_id = #{configId}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from sys_config where config_id = #{configId}
    </delete>

    <delete id="deleteByIds" parameterType="java.lang.Long">
        delete from sys_config where config_id in
        <foreach item="configId" collection="array" open="(" separator="," close=")">
            #{configId}
        </foreach>
    </delete>

    <select id="isExist" parameterType="com.linzx.admin.system.domain.Config" resultType="java.lang.Integer">
        select 1 from sys_config
        <include refid="selectList_where"/>
        limit 1
    </select>

    <sql id="selectVo">
        select config_id as configId,config_name as configName,config_key as configKey,config_value as configValue,config_type as configType,status as status,reversion as reversion,create_by as createBy,create_time as createTime,update_by as updateBy,update_time as updateTime,remark as remark from sys_config
    </sql>

    <sql id="selectList_where">
        <where>
            <if test="configId != null"> and config_id = #{configId}</if>
            <if test="configName != null"> and config_name = #{configName}</if>
            <if test="configKey != null"> and config_key = #{configKey}</if>
            <if test="configValue != null"> and config_value = #{configValue}</if>
            <if test="configType != null"> and config_type = #{configType}</if>
            <if test="status != null"> and status = #{status}</if>
            <if test="reversion != null"> and reversion = #{reversion}</if>
            <if test="createBy != null"> and create_by = #{createBy}</if>
            <if test="updateBy != null"> and update_by = #{updateBy}</if>
            <if test="createTimeGte != null and createTimeGte != ''"> and create_time &gt;= #{createTimeGte}</if>
            <if test="createTimeLte != null and createTimeLte != ''"> and create_time &lt;= #{createTimeLte}</if>
            <if test="updateTimeGte != null and updateTimeGte != ''"> and update_time &gt;= #{updateTimeGte}</if>
            <if test="updateTimeLte != null and updateTimeLte != ''"> and update_time &lt;= #{updateTimeLte}</if>
            <if test="remarkLike != null and remarkLike != ''"> and remark like '%${remarkLike}%'</if>
        </where>
    </sql>
</mapper>