<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linzx.admin.system.mapper.DictOptionMapper">

    <select id="selectList" parameterType="com.linzx.admin.system.domain.DictOption"
            resultType="com.linzx.admin.system.domain.DictOption">
        <include refid="selectVo"/>
        <include refid="selectList_where"/>
        <if test="params.orderBy != null and params.orderBy != ''">
            ORDER BY ${params.orderBy}
        </if>
    </select>

    <select id="getById" parameterType="java.lang.Long" resultType="com.linzx.admin.system.domain.DictOption">
        <include refid="selectVo"/>
        where dict_option_id = #{dictOptionId}
    </select>

    <select id="selectByIds" parameterType="java.lang.Long" resultType="com.linzx.admin.system.domain.DictOption">
        <include refid="selectVo"/>
        where dict_option_id in
        <foreach item="dictOptionId" collection="array" open="(" separator="," close=")">
            #{dictOptionId}
        </foreach>
    </select>

    <insert id="insert" parameterType="com.linzx.admin.system.domain.DictOption">
        insert into sys_dict_option
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dictOptionId != null">dict_option_id,</if>
            <if test="dictId != null">dict_id,</if>
            <if test="dictCode != null">dict_code,</if>
            <if test="dictLabel != null">dict_label,</if>
            <if test="dictValue != null">dict_value,</if>
            <if test="cssClass != null">css_class,</if>
            <if test="listClass != null">list_class,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="status != null">status,</if>
            <if test="reversion != null">reversion,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dictOptionId != null">#{dictOptionId},</if>
            <if test="dictId != null">#{dictId},</if>
            <if test="dictCode != null">#{dictCode},</if>
            <if test="dictLabel != null">#{dictLabel},</if>
            <if test="dictValue != null">#{dictValue},</if>
            <if test="cssClass != null">#{cssClass},</if>
            <if test="listClass != null">#{listClass},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="status != null">#{status},</if>
            <if test="reversion != null">#{reversion},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.linzx.admin.system.domain.DictOption">
        update sys_dict_option
        <trim prefix="SET" suffixOverrides=",">
            <if test="dictOptionId != null">dict_option_id = #{dictOptionId},</if>
            <if test="dictId != null">dict_id = #{dictId},</if>
            <if test="dictCode != null">dict_code = #{dictCode},</if>
            <if test="dictLabel != null">dict_label = #{dictLabel},</if>
            <if test="dictValue != null">dict_value = #{dictValue},</if>
            <if test="cssClass != null">css_class = #{cssClass},</if>
            <if test="listClass != null">list_class = #{listClass},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="status != null">status = #{status},</if>
            <if test="reversion != null">reversion = #{reversion},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where dict_option_id = #{dictOptionId}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from sys_dict_option where dict_option_id = #{dictOptionId}
    </delete>

    <delete id="deleteByIds" parameterType="java.lang.Long">
        delete from sys_dict_option where dict_option_id in
        <foreach item="dictOptionId" collection="array" open="(" separator="," close=")">
            #{dictOptionId}
        </foreach>
    </delete>

    <select id="isExist" parameterType="com.linzx.admin.system.domain.DictOption" resultType="java.lang.Integer">
        select 1 from sys_dict_option
        <include refid="selectList_where"/>
        limit 1
    </select>

    <sql id="selectVo">
        select dict_option_id as dictOptionId,dict_id as dictId,dict_code as dictCode,dict_label as dictLabel,dict_value as dictValue,css_class as cssClass,list_class as listClass,order_num as orderNum,status as status,reversion as reversion,create_by as createBy,create_time as createTime,update_by as updateBy,update_time as updateTime,remark as remark from sys_dict_option
    </sql>

    <sql id="selectList_where">
        <where>
            <if test="dictOptionId != null"> and dict_option_id = #{dictOptionId}</if>
            <if test="dictId != null"> and dict_id = #{dictId}</if>
            <if test="dictCode != null"> and dict_code = #{dictCode}</if>
            <if test="dictLabel != null"> and dict_label = #{dictLabel}</if>
            <if test="dictValue != null"> and dict_value = #{dictValue}</if>
            <if test="cssClass != null"> and css_class = #{cssClass}</if>
            <if test="listClass != null"> and list_class = #{listClass}</if>
            <if test="orderNum != null"> and order_num = #{orderNum}</if>
            <if test="status != null"> and status = #{status}</if>
            <if test="reversion != null"> and reversion = #{reversion}</if>
            <if test="createBy != null"> and create_by = #{createBy}</if>
            <if test="updateBy != null"> and update_by = #{updateBy}</if>
            <if test="createTimeGte != null and createTimeGte != ''"> and create_time &gt;= #{createTimeGte}</if>
            <if test="createTimeLte != null and createTimeLte != ''"> and create_time &lt;= #{createTimeLte}</if>
            <if test="updateTimeGte != null and updateTimeGte != ''"> and update_time &gt;= #{updateTimeGte}</if>
            <if test="updateTimeLte != null and updateTimeLte != ''"> and update_time &lt;= #{updateTimeLte}</if>
            <if test="remarkLike != null and remarkLike != ''"> and remark like '%${remarkLike}%'</if>
        </where>
    </sql>
</mapper>